backup/*/vmlinux
.vscode/*
harness*
*/harness
*/clang_cmds.sh
link_errors/error_output_raw.txt
link_errors/func_decls.txt
link_errors/func_names.txt
*/bin/*
**.o
**.skel.h
linux-5.18.8
build
bin
**.a
linux/src
*/vmlinux.h
*/**vmlinux.h
good_config
